
  header {
    grid-area: header;
    text-align: center;
    background-color: #a3d2d5;
    border-style: double;
    border-width: 5px;
    color: #45625d;
    border-radius: 50px 0 50px 0;
  }

  .sidebar {
    grid-area: sidebar;
    background-color:  #7ec384;
    color: #3f7856;
  }
  .main {
    grid-area: content;
    color: #45625d;
   background-color: #a3d2d5
  }
  footer{
  grid-area: footer;
  }

  
  .footer {
    background-color:  #7ec384;
    color: #3f7856;
  }
  
  
  article {
    display: grid;
    justify-content: center;
  }
  .article-one {
    grid-area: one;
  }
  .article-two {
    grid-area: two;
  }
  .article-three {
    grid-area: three;
  }
  .article-four {
    grid-area: four;
  }
  .article-five {
    grid-area: five;
  }
  article-six {
    grid-area: six;
  }
  .site-wrapper {
    display: grid;
    min-height: 300px;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
    
}

@media (min-width: 480px){
  .site-wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
  }
  
}
  @media (min-width: 700px){
    .site-wrapper {
      grid-template-columns: auto 80px;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    }
    article {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
    }
  }
    @media (min-width: 800px){
      .site-wrapper {
        grid-template-columns: auto 100px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "header header"
          "content sidebar"
          "footer footer";
      }
      .main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "one two three"
        "four five six";
        grid-gap: 20px;
      }
      article {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    
      }
    }